body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

input,
area {
  border: none;
  &:focus {
    outline: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: #240139;
}

// .container {
//   max-width: 1520px;
//   margin: 0 auto;
//   padding: 0 10px;
// }




