@import "./vars";
@import "./reset";
@import "./base";

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: var(--footer-header-bg);
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--accent);
//   border-radius: 10px;
// }

.img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}
